body{
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}

.columna{
  display: flex;
  flex-direction: column;
  padding: 90px;
  gap: 150px;
}
.fila{
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;

}

.fila div{
  width: 50%;
}

.fotos{
display: flex;
justify-content: center;
align-items: center;
}

.text-derecha{
  text-align: right;
}
img{
  border-radius: 25px;
  width: 300px;
  height: 300px;
}
