*{
  margin: 0;
  padding: 0;
}

.columna{
  display: flex;
  flex-direction: column;
  gap: 150px;
  align-items: center;
  padding: 70px;

}
.fila{
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 20px;
}

.fotos{
display: flex;
justify-content: center;
align-items: center;
}

.text-derecha{
  text-align: right;
}
img{
  border-radius: 25px;
  width: 300px;
  height: 300px;
}
